<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/menu') %>
    <div class="container-fluid">
        <%- body %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/footer') %>
</body>
</html>
